:root {
  --theme-color: #f7df1e; /* #1890ff; */
  --theme-contrast-color: black; /* #1890ff; */
}

html {
  font-size: 16px;
}

body {
  background-color: #fafafa;
  font-family: "Roboto Slab", sans-serif;
  background-image: url('../../assets/ostankino.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 20%;
}

@media (min-width: 550px) {
  body {
    font-size: 2em;
    background-color: #fff;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  padding: 10px 1em;
}

input {
  padding: 10px;
  border: 2px solid #cfcfcf;
  /* border: none; */
  border-radius: 0;
  font-family: "Roboto Slab", sans-serif;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

label {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  background-color: var(--theme-color);
  color: var(--theme-contrast-color);
  padding: 0.5em 1em;
  border: none;
}

button:hover {
  text-decoration: underline;
}

.Main {
  padding: 0 1em;
}

nav {
  background-color: var(--theme-color);
  display: flex;
  justify-content: space-between;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

a:hover {
  text-decoration: none;
}

nav a {
  display: block;
  padding: 16px 0;
  color: var(--theme-contrast-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

nav a + a {
  margin-left: 0.5em;
}

form p:not(:last-of-type) {
  background: white;
  /* border-bottom: 2px solid #eee;
  border-top: 2px solid #eee; */
  margin-left: -1em;
  margin-right: -1em;
  padding: 0.25em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form p:not(:last-of-type) input {
  margin-left: auto;
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}

input::-webkit-input-placeholder {
  color: #ccc;
}

@media (min-width: 550px) {
  input::-webkit-input-placeholder {
    font-size: 0.6em;
    position: relative;
    bottom: 4px;
  }
}

form p:not(:last-of-type) label {
  flex-basis: 40%;
  flex-shrink: 0.5;
  min-width: 100px;
  margin-right: 0.5em;
}

pre {
  padding: 0.5em;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #f5f5f5;
}

.SolutionLink {
  font-size: 12px;
  color: #aaa;
}
